@model MassManageSystem.Models.MillInfoTbl

@{
    ViewBag.Title = "AddTodayMill";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />
<h2 class="text-center">Add Today Mill & Bazar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="form-horizontal">

        <div class="form-group">
            @Html.Label("Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.TextBoxFor(model => model.Date, new {  @class = "date"  })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })*@
                <input type="text" id="date" placeholder="Select-date" />
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Member Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="MemberForBazar">
                    <option selected value="">-Select Member-</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.Label("TodayBazar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" type="number" placeholder=" TotalTaka" id="Bazar" />
            </div>
        </div>

        <hr />


        <h2 class="">Add New Mill</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>
                        <div class="form-group">
                            @Html.Label("Member Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })*@
                                <select class="form-control" id="Member">
                                    <option selected value="">-Select Member-</option>
                                </select>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            @Html.Label("Mirning", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @* @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })*@
                                <input class="form-control" type="number" placeholder=" Enter Mill" id="Morning" />
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            @Html.Label("Lunch", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @* @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })*@
                                <input class="form-control" type="number" placeholder=" Enter MIll" id="Lunch" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            @Html.Label("Dinner", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @* @Html.EditorFor(model => model.Marks, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Marks, "", new { @class = "text-danger" })*@
                                <input class="form-control" type="number" placeholder=" Enter Mill" id="Dinner" />
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="button" class="form-control btn btn-default add-record" value="Add Row" />
                            </div>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <h3></h3>
    </div>


    <h2 class="">Member Wise Mill Grid</h2>
    <table style="display:none" id="sample_table">
        <tr>
            <td><span class="sn"></span>.</td>
            <td class="Member">MemberName</td>
            <td class="MemberInfoId" style="display:none">Member ID</td>
            <td class="Morning">100</td>
            <td class="Lunch">1</td>
            <td class="Dinner">10</td>
            <td><a class="btn btn-xs delete-record" data-id="0"><i class="glyphicon glyphicon-trash"></i></a></td>
            <td><a class="btn btn-xs edit-record" data-id="0"><i class="glyphicon glyphicon-edit"></i></a></td>
        </tr>
    </table>


    <table class="table table-striped" id="resultTable">
        <thead>
            <tr>
                <th> SL No.</th>
                <th>
                    @Html.LabelFor(model => model.MemberInfoTbl.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th style="display:none">

                </th>
                <th>
                    @Html.LabelFor(model => model.Morning, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.Lunch, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>
                    @Html.LabelFor(model => model.Dinner, htmlAttributes: new { @class = "control-label col-md-2" })
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody id="resultTable_body">
            <tr>
            </tr>
        </tbody>
        <tr>
            <td></td>
            <td></td>
            <td style="display:none"></td>
            <td>totalMorning : <span class="info" id="totalMorning"></span> </td>
            <td>totalLunch : <span class="info" id="totalLunch"></span></td>
            <td>totalDinner : <span class="info" id="totalDinner"></span></td>
            <td></td>
        </tr>
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" id="saveData()" class="btn btn-default" onclick="saveData()"  />
            @*<input class="btn-default" type="button" id="btnSave" value="Save" onclick="saveData()" />*@
        </div>
    </div>

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/addTodayMIll.js"></script>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}
